<mat-card class="comment-card">
    <mat-card-header>
      <div class="avatar">
        <img class="avatar" src="https://xsgames.co/randomusers/avatar.php?g=male" alt="User Avatar">
      </div>
      <span class="username">John Doe</span>
    </mat-card-header>
    <mat-card-content>
      <p class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut aliquet ipsum. Sed ullamcorper dolor at metus tincidunt fringilla. Donec blandit velit ac orci vestibulum, in convallis risus malesuada.</p>
    </mat-card-content>
    <mat-card-actions>
      <span class="comment-date">April 28, 2023</span>
      <div class="like-dislike-buttons">
        <button mat-icon-button>
          <mat-icon>thumb_up</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>thumb_down</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>