.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.avatar{
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    width: 92%;
    border-radius: 50%;
    margin: 4%;
}

.avatar-container{
    max-width: 300px;
    width: 50%;
    flex-grow: 1;
}

.user-container{
    min-width: 300px;
    padding: 2%;
    flex-grow: 2;
    align-self: flex-start;
    justify-self: flex-start;

    
}

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.user-info{

    h2{
        span{
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }
}

.articles-container{
    max-width: 1200px;
    h2{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    text-align: center;
}

.card-wrapper {
    margin: 1rem;
    height: 100%;
}

.card {
    height: 100%;
    width: 100%;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    word-break: break-all;

    mat-card-content{
        max-height: 10ch;
        word-break: break-all;
        word-wrap: break-word;
        overflow: hidden;
        white-space: initial;
        text-overflow: ellipsis;
        margin-bottom: 1rem;
    }

    h1{
        height: 4.5ch;
        word-break: break-all;
        word-wrap: break-word;
        overflow: hidden;
        white-space: initial;
        text-overflow: ellipsis;
        text-align: start;
    }
}

.avatar{
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}