<div class="container">
    <div class="avatar-container">
        <img class="avatar" src="https://xsgames.co/randomusers/avatar.php?g=male" alt="User Avatar">
    </div>
    <div class="user-container">
        <h1>John Doe</h1>
        <div class="user-info">
            <h2>Username: <span>Vlados</span></h2>
            <h2>Email: <span>vldyktaraban@gmail.com</span></h2>
        </div>
    </div>
</div>
<h1>Articles</h1>
<div class="articles-container">
    <h2>User haven't posted any Article</h2>
</div>
