<div class="card-wrapper">
    <mat-card class="card">
        <mat-card-header>
            <h1>{{article.title}}</h1>
        </mat-card-header>
        <mat-card-content>
            <p>{{article.content}}</p>
        </mat-card-content>
        <mat-card-header>
          <div mat-card-avatar class="avatar" (click)="goToAuthorPage()"></div>
          <mat-card-title>{{article.author.firstname + " " + article.author.lastname}}</mat-card-title>
          <mat-card-subtitle>5 mins ago</mat-card-subtitle>
        </mat-card-header>
      </mat-card> 
  </div>