.card-wrapper {
    margin: 1rem;
    height: 100%;
}

.card {
    height: 100%;
    width: 100%;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    word-break: break-all;

    mat-card-content{
        max-height: 10ch;
        word-break: break-all;
        word-wrap: break-word;
        overflow: hidden;
        white-space: initial;
        text-overflow: ellipsis;
        margin-bottom: 1rem;
    }

    h1{
        height: 4.5ch;
        word-break: break-all;
        word-wrap: break-word;
        overflow: hidden;
        white-space: initial;
        text-overflow: ellipsis;
        text-align: start;
    }
}

.avatar{
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}