/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container {
    border-radius: 20px !important;
    padding: 36px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    background-color: #fff;
    color: rgb(97 97 97);
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
    background-clip: border-box;
}