<div class="register-container">
    <h1 class="register-header">Sign Up</h1>
  
    <form [formGroup]="registerForm" (ngSubmit)="register()" class="register-form">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required autocomplete="off">
        <mat-error *ngIf="registerForm.controls['username'].invalid">
          Please enter a valid username.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Firstname</mat-label>
        <input matInput formControlName="firstname" required autocomplete="off">
        <mat-error *ngIf="registerForm.controls['firstname'].invalid">
          Please enter a valid Firstname.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Lastname</mat-label>
        <input matInput formControlName="lastname" required autocomplete="off">
        <mat-error *ngIf="registerForm.controls['lastname'].invalid">
          Please enter a valid Lastname.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required autocomplete="off">
        <mat-error *ngIf="registerForm.controls['password'].invalid">
          Please enter a valid password.
        </mat-error>
      </mat-form-field>
  
      <div class="sign-up-text">
        Already have an account? <a (click)="goToLogin()">Sign in</a>
      </div>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">
        Login
      </button>
    </form>
  </div>
  