
.register-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}

.register-form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  button{
    margin-top: 1em;
    height: 3rem;
    width: 95%;
    position: relative;
  }

  mat-form-field {
    width: 90%;
  }
}

.sign-up-text {
  text-align: center;

  a{
    color: #2196F3;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
}

.register-header {
  width: 384px;
  background-clip: border-box;
  background-color: #1e88e5;
  background-image: linear-gradient(to top right, #1e88e5, #42a5f5);
  margin: 10px;
  border-radius: 0.75rem;
  overflow: hidden;
  color: #fff;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, rgba(33, 150, 243, 0.4);
  height: 7rem;
  letter-spacing: 0;
  line-height: 1.375;
  font-weight: 600;
  font-size: 1.9rem;
  font-family: Roboto, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
